<mat-toolbar color="primary">

  <img src="assets/img/logo.jpeg" alt="Logo da Clínica" class="logo" />

  <span class="spacer"></span>
  <a mat-button routerLink="/" fragment="quem-somos" class="botao-quem">Quem Somos</a>
  <a mat-button routerLink="/" fragment="servicos" class="botao-servicos">Serviços</a>
  <a mat-button routerLink="/" fragment="contatos" class="botao-contatos">Contatos</a>

  <a mat-raised-button style="background-color:#25D366" href="https://wa.me/5521977175222" target="_blank">
    WhatsApp
  </a>
</mat-toolbar>

<h1 class="titulo-destaque1">Há 30 anos cuidando com carinho </h1>
<h1 class="titulo-destaque">da saúde e bem-estar dos </h1>
<h1 class="titulo-destaque">seus animais</h1>

<img src="assets/img/capa.jpeg" alt="Capa da Clínica" class="imagem-capa" />

<section id="quem-somos">
<h2 class="texto-quem-somos">Quem Somos</h2>

<mat-grid-list cols="3" rowHeight="1:1" class="grid-list">
  <mat-grid-tile colspan="2" rowspan="2" class="texto-tile">
    <div class="texto-container">
      <p>

         Com mais de três décadas de experiência, nossa equipe de profissionais altamente qualificados oferece um atendimento completo e personalizado para o seu pet, desde filhotes até a terceira idade. Nossa missão é proporcionar saúde e bem-estar aos animais, sempre com muito carinho e dedicação.</p>
        <a mat-raised-button style="background-color:#25D366" href="https://wa.me/5521977175222" target="_blank">
          Chame no WhatsApp!
        </a>
    </div>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="2" class="imagem-tile">
    <img src="assets/img/cao.jpeg" alt="Imagem da Clínica" class="imagem-grid" />
  </mat-grid-tile>
</mat-grid-list>
</section>

<section id="servicos">
<h2 class="texto-servicos">Serviços</h2>

<mat-accordion class="painel-expansivo">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Cirurgia geral e Avançada
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Como: Castração, Amputação, Criocirurgia, Cesária</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Odontologia
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Como: Limpeza e extração dentária</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ortopedia
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Como: Colocação de Pinos, Imobilização</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Acupuntura
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Consulta especializada e sessões de tratamento</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Atendimento especializados em Silvestres
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Consulta e Cirurgia</p>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Oftalmologia
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Tratamento clínico e Cirurgias básicas</p>
  </mat-expansion-panel>
</mat-accordion>
</section>

<section id="contatos">

<h2 class="texto-servicos">Contatos</h2>

<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile colspan="1" rowspan="2">
    <img src="assets/img/coelho2.jpeg" alt="Imagem da Clínica" class="imagem-grid" />
  </mat-grid-tile>
  <mat-grid-tile colspan="2" rowspan="2">
    <div class="texto-container">
      <p>
        <mat-icon>phone</mat-icon> (21) 97717-1522 / (21) 2717-0665
      </p>
      <p>
        <mat-icon>email</mat-icon> 4patas.vetrecepcao@gmail.com
      </p>
      <p>
        <mat-icon>location_on</mat-icon> Rua General Castrioto, 406 - Barreto, Niterói - RJ
      </p>
      <p></p>
      <p></p>
        <a mat-raised-button style="background-color:#25D366" href="https://wa.me/55219771715222" target="_blank">
          Entre em Contato!
        </a>
    </div>
  </mat-grid-tile>
  
</mat-grid-list>
</section>

<mat-toolbar color="primary" class="footer">
  <span>© 2024 Clínica Veterinária Quatro Patas. Todos os direitos reservados.</span>
  <span class="spacer"></span>
</mat-toolbar>
